<<<<<<< HEAD
<div class="row">

        
        <h2>Error!!! 404!!</h2>
        <p>SORRY WE WILL GET BACK WITH YOU</p>
        <p>PLEASE VISIT OTHER PAGES</p>

=======
<div class="row">
        <h2>Error!!!!!! 404!!!</h2>
        <p>sorry of the the error</p>  
        <p>please visit different page</p>          
>>>>>>> d18797b (Merge branch 'main' of https://github.com/SmitPatel1211/web322-app)
</div>